.contact{
    text-align: center;
    
}
.contact h2{
    font-size: var(--size-base);
     background: radial-gradient(circle, #FFD700 50%, #8a6a1b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
}
.contact p{
    display: block;
    margin: 1em auto;
    max-width:  60ch;
    font-size: var(--size-sm);
    color: var(--col-medgrey);
}
/* Media Queries */
/* xs */
/* @media (min-width: 475px) {  

    } */

/* sm */
@media (min-width: 640px) {
    .contact h2 {
            font-size: var(--size-3xl);
        }
    
        .contact p {
            font-size: var(--size-xl);
            color: var(--col-medgrey);
        }
       .contact a {
            font-size: var(--size-xl);
        }
    }

/* md */
/* @media (min-width: 768px) {

    } */

/* lg */
/* @media (min-width: 1024px) {

    } */

/* xl */
/* @media (min-width: 1280px) {
    
    } */

/* xxl */
/* @media (min-width: 1536px) {

}