:root{
    --col-darkgrey:#2a2a2a;
    --col-white:#d2d2d2;
    --col-medgrey:#5c5c5c;
    --col-lightgrey:#a8a29e;
    /* light grey rgb val: rgb(168, 162, 158) */
    /* med grey rgb val: rgb(92, 92, 92)*/
    /* white rgb val: rgb(210, 210, 210)  */

}
*{
    margin: 0;
    line-height: calc(1em+0.5rem);
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Satoshi', sans-serif;
    background-color: var(--col-darkgrey);
    color: var(--col-white);
}
img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border:none;
    background: none;
    cursor: pointer;
    color: inherit;
}
a{
    color: var(--col-lightpurple);
}
strong{
    color: var(--col-darkpurple);
}